[Desktop Entry]
Name=NAME
Comment=The unquestionably awesome 2D game engine
MimeType=application/x-love-game;
Exec=NAME %f
Type=Application
Categories=Development;Game;
Terminal=false
Icon=love
NoDisplay=true
